* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
    background: linear-gradient(270deg, #8DC3E7 0%, #91F0C6 100%);    /* Çerçevenin kalınlığı (30px) */
    padding: 60px; 
    background-attachment: fixed; 
}

body {
  
    background-color: white; 
    margin: 0;
    padding-bottom: 40px; 
}

::-webkit-scrollbar {
  display: none;
}

.nav-wrapper {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
    z-index: 10;
   
}

.logo {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-blue { 
    color: #8DC4E6;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-left: 35px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-family: Jaldi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease;
}

.main-nav a:hover,
.main-nav a.active {
    color: #6795c7; 
}

.about-content-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;     
    width: 100%;             
    min-height: 100vh;       
    padding: 20px;          
    box-sizing: border-box;
}

.about-text {
    flex: 1;                 
    max-width: 600px;       
    margin-right: 40px;     
}

.about-section h1 {
    color: #000;

font-family: "Josefin Sans";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
}

.h1-blue {
    color: #8DC4E6;
}

.about-section p {
    color: #000;
    font-family: Actor;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; 
    margin: 0;         
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.about-section p + p {
    margin-top: 20px; 
}


