* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden; 
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html {
    background: linear-gradient(270deg, #8DC3E7 0%, #91F0C6 100%); 
    padding: 60px; 
    background-attachment: fixed; 
}

body {
    background-color: white; 
    margin: 0;
    padding-bottom: 40px; 
}

.nav-wrapper {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
    z-index: 10;
   
}

.logo {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-blue { 
    color: #8DC4E6;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-left: 35px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-family: Jaldi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease;
}

.main-nav a:hover,
.main-nav a.active {
    color: #6795c7; 
}

.hamburger-menu {
    display: none; 
}

@media (max-width: 900px) {
    html {
        padding: 20px 20px; 
    }
    .main-nav {
        padding: 15px 20px;
    }
    
    .logo {
        font-size: 24px;
    }

    .hamburger-menu {
        display: block;
    }

    #menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
    }

    #menu-toggle img {
        width: 30px; 
        height: 30px;
    }

    .normal-menu {
        position: fixed; 
        top: 0;
        right: 0;
        height: 100%; 
        width: 250px; 
        background-color: rgba(255, 255, 255, 0.904); 
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
        transform: translateX(100%); 
        transition: transform 0.3s ease-in-out;
        z-index: 20; 
        padding-top: 80px; 
    }

    .normal-menu.active {
        transform: translateX(0); 
    }

    .normal-menu ul {
        flex-direction: column; 
        gap: 0;
        padding: 0;
    }

    .normal-menu li {
        margin: 0;
        border-bottom: 1px solid #eee; 
    }

    .normal-menu li:last-child {
        border-bottom: none;
    }

    .normal-menu a {
        display: block; 
        padding: 15px 20px;
        text-align: left;
        font-size: 18px;
    }
}