
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    background: linear-gradient(270deg, #8DC3E7 0%, #91F0C6 100%); 
    padding: 60px; 
    background-attachment: fixed; 
}

body {
    background-color: white; 
    margin: 0;
    padding-bottom: 40px; 
}

.nav-wrapper {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
    z-index: 10;
   
}

.logo {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-blue { 
    color: #8DC4E6;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-left: 35px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-family: Jaldi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease;
}

.main-nav a:hover,
.main-nav a.active {
    color: #6795c7; 
}

#menu-toggle {
    background: transparent;
    border: none;
}

.hamburger-menu{
    display: none;
}

@media (max-width: 900px) {
        html {
    background: linear-gradient(270deg, #8DC3E7 0%, #91F0C6 100%); 
    padding: 30px; 
    background-attachment: fixed; 
}

    .hamburger-menu {
        display: block;
        cursor: pointer;
        z-index: 100; 
    }

    .main-nav ul { 
        display: none; 
    }

    .normal-menu {
        position: fixed; 
        top: 0;
        right: 0;
        height: 100vh; 
        width: 50%;
        max-width: 300px; 
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: -4px 0 15px rgba(0, 0, 0, 0.3); 
        z-index: 99; 
        
        transform: translateX(100%); 
        transition: transform 0.4s ease-in-out; 

        display: flex; 
        flex-direction: column;
        padding-top: 80px; 
    }

    .normal-menu.active {
        transform: translateX(0); 
    }

    .normal-menu ul {
        display: flex;
        flex-direction: column; 
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .normal-menu li {
        padding: 15px 30px;
        text-align: right;
        border-bottom: 1px solid #eee; 
        margin-left: 0; 
    }

}

