* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    background: linear-gradient(270deg, #8DC3E7 0%, #91F0C6 100%);    /* Çerçevenin kalınlığı (30px) */
    padding: 60px; 
    background-attachment: fixed; 
}

body {
        background-color: white; 
    margin: 0;
    padding-bottom: 40px; 
    font-family: 'Kanit', sans-serif;
    color: black;
    line-height: 1.6;
}

::-webkit-scrollbar {
  display: none;
}

.nav-wrapper {
  position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.main-nav {
   display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
    z-index: 10;
}

.logo {
     color: #000;
    font-family: "Josefin Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-blue { 
color: #8DC4E6;}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-left: 35px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-family: Jaldi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease;
}

.main-nav a:hover,
.main-nav a.active {
    color: #6795c7; 
}

.intro-section {
    padding-top: 50px; 
    padding-bottom: 50px; 
}

.intro-content-wrapper {
    width: 1165px;
height: 394px;
flex-shrink: 0;
    margin: 0 auto;  
    border-radius: 75px;       
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); 
    background: rgba(141, 195, 231, 0.47);
    display: flex;
    align-items: stretch;
    min-height: 300px; 
   gap: 10px;
   
}

.header-text {
    display: flex;
    flex-direction: column; 
    padding-right: 30px;
    margin: 0px 30px 0px 30px;
    padding-bottom: 40px;
    padding-top: 60px;
}

.header-text h1 {
    font-size: 42px;
    color: #0b0b0b; 
    font-weight: 400;
}

.header-text p {
    font-size: 20px;
    color: #0e0d0d; 
    font-family: Actor;
    font-style: normal;
    font-family: Actor;
    margin-top: 0;
    margin-bottom: 5px;
}


.doctor-image {
    flex: 0 0 40%; 
}

.doctor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 53px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.disease-list {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 40px; 
}

.disease-item {
    display: flex;
    align-items: center;
    gap: 40px; 
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    padding-bottom: 40px;
}

.disease-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.disease-text {
    flex: 1;
}

.disease-text h2 {
    font-size: 28px;
    color: #222;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    
}

.disease-text p {
    font-size: 20px;
    color: #141414;
    font-family: Actor;
    font-weight: 400;
}

.disease-image {
    flex: 0 0 250px; 
    text-align: center;
}

.disease-image img {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.disease-item:nth-child(even) {
    flex-direction: row-reverse;
}