
.hero {
  margin: 60px auto;
  margin-right: 110px;
  width: 1162px;
  height: 760px;
  flex-shrink: 0;
  border-radius: 75px;
  background: rgba(141, 195, 231, 0.47);
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 30px; 
}

.hero-img img{
  position: relative;
  width: 600px;
  height: 760px;
  flex-shrink: 0;
  border-radius: 75px;
  overflow: hidden; 
  margin-left: -40px;
  justify-content: flex-start;
}

.hero-img h1 {
  position: absolute;
  color: #FFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kanit;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 149.65%;
  margin: -700px 0 0 60px;
  z-index: 1 ;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: auto;
  max-width: 500px;
}


.hero-content h2 {
  color: #000;
font-family: Alice;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.hero-content p {
  color: #383838;
font-family: Actor;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  margin-left: 130px;
  background-color: #000;
  text-decoration: none;
  color: #FFFAFA;
    font-family: Actor;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #6088a5;
}


.info-header {
  margin-left: 100px;
}

.info-header h1 {
 color: #000;
font-family: Kanit;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.info-header p {
 color: #000;
font-family: Actor;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  gap: 50px;
}

.info-cards{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#info-card1, #info-card2, #info-card3 {
    width: 604px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 35px;
  background: rgba(145, 240, 198, 0.42);
  text-align: left;
  padding: 20px 30px;
}

#info-card1 h2, #info-card2 h2, #info-card3 h2, #info-card4 h2 {
 color: #000;

font-family: Kanit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

#info-card1 p, #info-card2 p, #info-card3 p, #info-card4 p {
color: #000;

font-family: Actor;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.img-cards{
  display: flex;
  flex-direction:column;
  gap: 20px;
}

#info-card4 {
  width: 402px;
height: 149px;
flex-shrink: 0;
  border-radius: 35px;
  background: rgba(145, 240, 198, 0.42);
    text-align: left;
  padding: 20px 30px;
}

.learn-more-wrapper {
  display: flex;
  justify-content: flex-end; 
  margin-right: 15rem;
  margin-top: 20px; 
}

#learn-more {
  margin-left: 0;
  display: inline-block;
  background: #000;
  color: #FFFAFA;
border: none;
cursor: pointer;
font-family: Actor;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#learn-more:hover {
  background-color: #6088a5;
}

.symptoms-section {
  margin-top: 100px;
  text-align: left;
}

.main-title {
  margin-bottom: 40px;
  margin-left: 100px;
  color: #000;
  font-family: Kanit;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.diagram-container {
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin: auto;
}

.central-image {
  width: 358px;
  height: 358px;
  flex-shrink: 0;
  object-fit: cover; 
  z-index: 5; 
}

.circle {
  position: absolute;
  border-radius: 550px;
  border: 2px solid rgba(0, 0, 0, 0.10);
}

.inner-circle {
  width: 550px;
  height: 534px;
 z-index: 1;
}

.outer-circle {
  width: 769px;
  height: 747px;
  z-index: 1;
}

.symptom-item {
  position: absolute;
  z-index: 10; 
  max-width: 500px;
}

.symptom-item h3 {
  color: #000;

font-family: Kanit;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
  margin: 0 0 4px 0;
  display: flex;
  align-items: center;
}
        
.symptom-item h3 .dot {
width: 8px;
height: 8px;
background-color: rgba(0, 0, 0, 0.60);;
border-radius: 50%;
margin-left: 6px;
}

.symptom-item p {
color: #000;
text-align: left;
font-family: Actor;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}

        
.symptom-1 {
top: 220px;
left: -80px;
}

.symptom-2 {
top: 240px;
right: -225px;
}

.symptom-3 {
bottom: 95px;
left: 75px;
}


@media (max-width: 900px) {
  .hero {
        width: 70vw; 
        height: auto; 
        margin: 20px auto;
        margin-right: auto; 
        flex-direction: column; 
        gap: 20px;
        padding-bottom: 20px;
    }

    .hero-img img {
        width: 100%; 
        height: auto; 
        margin-left: 0;
        object-fit: cover;
    }

    .hero-img h1 {
        font-size: 33px; 
        margin: -340px 0 0 30px; 
        line-height: 1;
    }
    .hero-content {
        max-width: 90%;
        padding: 0 20px;
        margin-right: auto;
        gap: 1rem;
    }

    .hero-content h2 {
        font-size: 25px;
    }

    .hero-content p {
        font-size: 15px;
    }
    
    .cta-button {
        margin: 0;
        align-self: center; 
        font-size: 20px;
        padding: 10px 10px;
    }

    .info-header {
      margin-left: 20px;
      margin-top: 50px;
    }

    .info-header h1{
        font-size: 32px;
    }
    
    .info-header p {
        font-size: 16px;
    }

    .info {
        flex-direction: column; 
        gap: 30px;
        margin-top: 40px;
    }

    .info-cards, .img-cards {
        align-items: center; 
        gap: 20px;
    }

    #info-card1, #info-card2, #info-card3, #info-card4 {
        width: 80%; 
        height: auto;
        padding: 15px 25px;
    }

    #info-card1 h2, #info-card2 h2, #info-card3 h2, #info-card4 h2 {

font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

#info-card1 p, #info-card2 p, #info-card3 p, #info-card4 p {

font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


    .img-cards img {
        max-width: 75%; 
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .learn-more-wrapper {
        justify-content: center; 
        margin-right: 0;
        margin-top: 20px;
    }

    #learn-more {
 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

    .main-title {
        margin-left: 20px;
        font-size: 32px;
    }

    .diagram-container {
        width: 100%; 
        height: 300px; 
    }

    .central-image {
        width: 200px;
        height: 200px;
    }
    
    .inner-circle {
        width: 300px;
        height: 300px;
    }

    .outer-circle {
      display: none;
    }

    .symptom-item h3{
        font-size: 17px; 
    }

    .symptom-item p{
      font-size: 12px;
    }
    .symptom-1 {
        top: 20px;
        left: 20px;
    }

    .symptom-2 {
        top: 93px;
        left: 240px;
    }

    .symptom-3 {
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%); 
        text-align: center;
    }
    
    .symptom-item p {
        text-align: left;
    }
}