

.team-page-content {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 50px 40px; 
    text-align: center; 
}

.team-header {
    margin-bottom: 50px; 
}

.team-header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: 400; 
    color: #000;
    margin: 0;
    padding: 0;
}

.contact-section h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px; 
    font-weight: 400; 
    color: #222; 
    margin-bottom: 40px; 
}

.contact-columns {
    display: flex; 
    justify-content: center; 
    gap: 150px; 
    text-align: left; 
}
.contact-column {
    text-align: center; 
}
contact-icon {
    width: 60px;
    height: 50px; 
    object-fit: contain; 
}

.contact-column p {
    font-family: Jaldi;
    color: #333;
    margin: 5px 0; 
    padding: 0;
}

.contact-column a {
    color: #0c0c0c; 
    text-decoration: none;
}
.contact-column a:hover {
    text-decoration: underline;
}

.site-footer {
    font-family: Jaldi;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 20px;    
    gap: 15px; 

}

.footer-logo {
    width: 35px;
    height: 35px;
}

@media (max-width: 900px) {
    .team-page-content {
        padding: 40px 20px;
    }

    .team-header h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .contact-section h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .contact-columns {
        flex-direction: column; 
        gap: 40px; 
        text-align: center; 
    }
    
    .contact-column {
        padding: 0 10%; 
        text-align: center; 
    }

    .site-footer {
        flex-direction: column; 
        font-size: 16px;
        gap: 10px;
    }
}